
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--oxygen-font);
  background-color: rgb(255, 220, 220) !important;
}

.main {
  padding: 5rem 0;
  margin: auto;
}

.header {
  display: flex;
  cursor: pointer;
  padding: 5px;
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 10px;
  padding: 5px;
  list-style: none;
  font-family: var(--oxygen-font);

}

a {
  color: black;
  text-decoration: none;
    font-family: var(--oxygen-font);

}

* {
  box-sizing: border-box;
}
